@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* COLORS */
$dark-grey: #38383B;
$off-white: #EFEFEF;
$light-grey: #D5D4D2;
$white-color: #FFFFFF;
$light-purple: #574f7d;
$dark-color: #252525;

/* Z index variables */
$under: -1;
$middle: 10;
$over: 100;
$overover: 200;

/* SCREEN SIZE VARIABLES */
$extra-large-min: 1200px;
$large-max: 1199px;
$large-min: 992px;
$medium-max: 991px;
$medium-min: 768px;
$small-max: 767px;
$small-min: 376px;
$extra-small-max: 375px;

/* MIXINS */
@mixin flexCenterHo {
	display: flex;
	justify-content: center;
}
@mixin extra-large {
	@media (min-width: $extra-large-min) {
		@content;
	}
}
@mixin large {
	@media (min-width: $large-min) and (max-width: $large-max) {
		@content;
	}
}
@mixin medium {
	@media (min-width: $medium-min) and (max-width: $medium-max) {
		@content;
	}
}
@mixin small {
	@media (min-width: $small-min) and (max-width: $small-max) {
		@content;
	}
}
@mixin extra-small {
	@media (max-width: $extra-small-max) {
		@content;
	}
}

/* Animations */
@keyframes fadein {
    100% {
      opacity: 1;
    }
  }


@keyframes growShrink {
    50% {
      transform: scale(.7);
    }
    100% {
      transform: scale(1);
    }
  }

/* GENERAL STYLES AND STRUCTURE */
* {
    box-sizing: border-box;
    color: $dark-grey;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
}

#app {
    height: 100%;
    background-color: $white-color;
}

h1 {
    font-size: 3em;
    font-weight: 900;
}

h2 {
    font-size: 2.1em;
}

h3 {
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 1.2em;
}

.header {
    display: flex;
    justify-content: center;
}

.header h1 {
    color: $white-color;
    margin: -150px 0 0 0;
    text-align: center;
  }

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 50px 50px 50px;
    @include small {
        justify-content: center;
    }
}

.content {
    background-color: $off-white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: flex-end;
}

footer a {
    font-size: 1.2em;
    padding: 20px 50px 20px 20px;
}

footer:hover a {
    opacity: 0.8;
}