/* Hamburger menu for responsive screen */
.hamburger-container {
  align-content: stretch;
  animation: 1s fadein 0.3s forwards;
  animation-delay: 0.5s;
  background-color: transparent;
  border: none;
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  justify-content: center;
  margin: 30px 0 0 45px;
  opacity: 0;
  position: relative;
  width: 40px;
  z-index: $overover;
  @include extra-small {
    width: 20px;
    margin: 5px 0 0 48px;
  }
  @include medium {
    display: none;
  }
  @include large {
    display: none;
  }
  @include extra-large {
    display: none;
  }
}

.hamburger-container:hover div {
  cursor: pointer;
  opacity: 0.8;
}

.line1,
.line2,
.line3 {
  background-color: $white-color;
  height: 2px;
  margin-bottom: 5px;
  width: 75%;
  animation: 1s fadein 0.3s forwards;
  transition: transform 0.8s;
  @include extra-small {
    height: 1px;
    margin-bottom: 2px;
  }
}

/* Overlay menu once hamburger is open */
#hamburger-open .line1 {
  transition: transform 0.8s;
  transform: translate(0, 7px) rotate(45deg);
}

#hamburger-open .line2 {
  visibility: hidden;
}

#hamburger-open .line3 {
  transition: transform 0.8s;
  transform: translate(0, -7px) rotate(-45deg);
}

.menu-overlay {
  align-items: center;
  background-color: $light-grey;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  transition: opacity 0.8s;
}

#menu-open {
  opacity: 1;
  visibility: visible;
  z-index: $overover;
  @include medium {
    display: none;
  }
  @include large {
    display: none;
  }
  @include extra-large {
    display: none;
  }
}

.hamburger-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 50%;
}

.hamburger-tab {
  height: 33%;
  font-size: 2em;
  text-align: center;
}
