/* Landing page with hero img */
#main-landing {
    background-image: url("../images/hero-img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    position: static;
    z-index: 1;
    @include extra-large {
        margin: -350px 0 0 -15vw;
    }
    @include large {
        margin: -350px 0 0 -25vw;
    }
    @include medium {
        margin: -350px 0 0 -45vw;
    }
    @include small {
        margin: -350px 0 0 -125vw;
    }
    @include extra-small {
        margin: -350px 0 0 -145vw;
    }
}