/* Nav at top with navbar routes inside it */
#nav {
  background-color: $dark-color;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 100vw;
}

/* Name route to landing page */
.name h2 {
  color: $white-color;
  line-height: 1;
  margin: 30px 0 0 50px;
  position: relative;
  z-index: $over;
  opacity: 0;
  animation: 1s fadein 0.3s forwards;
  @include extra-small {
    font-size: 1em;
  }
}

.name:hover {
  opacity: 0.8;
  position: relative;
  z-index: $over;
}

/* Tab routes to about, project, contact pages */
.navbar {
  display: flex;
  height: 30px;
  margin: 30px 0 0 50px;
  justify-content: space-between;
  width: 210px;
  @include small {
    display: none;
  }
  @include extra-small {
    display: none;
  }
}

.tab {
  color: $white-color;
  font-size: 1.1em;
  font-weight: 200;
  position: relative;
  z-index: $over;
}

.tab-animate {
  opacity: 0;
  animation: 1s fadein 0.3s forwards;
}

.tab:hover {
  opacity: 0.8;
}

.active-tab {
  border-bottom: solid 2px;
}

/* Icon links on nav */
.icon {
  display: flex;
  justify-content: flex-start;
  margin: 25px 0 0 50px;
  position: relative;
  z-index: $over;
  @include extra-small {
    margin: 5px 0 0 50px;
  }
}

.icon-animate {
  opacity: 0;
  animation: 1s fadein 0.3s forwards;
  animation-delay: 0.5s;
}

.icon img {
  width: 30px;
  @include extra-small {
    width: 15px;
  }
}

.icon {
  width: 30px;
  @include extra-small {
    width: 15px;
  }
}

.icon:hover {
  opacity: 0.8;
}

.icon:hover img {
  animation: growShrink 0.2s 1;
}

/* Icon links on contact page */
.icons {
  display: flex;
  height: 50%;
  justify-content: space-between;
  width: 60%;
  margin: 50px 0 50px 0;
  @include extra-small {
    width: 100%;
    margin: 20px 0 20px 0;
  }
}

.icons .icon {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  @include extra-small {
    font-size: 0.7em;
  }
}

.icons .icon img {
  width: 50px;
  @include extra-small {
    width: 20px;
  }
}
