/* Squares that contain project information */
.square {
    background-color: $off-white;
    display: flex;
    flex-direction: column;
    margin: 0 0 5% 0;
    padding: 30px;
    width: 30%;
    @include medium {
        width: 45%;
    }
    @include small {
        width: 75%;
    }
    @include extra-small {
        width: 100%;
    }
}

.square-title {
    width: 100%;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.square-content p {
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.square-img {
    width: 100%;
    margin-bottom: 30px;
}

.square-img img {
    width: 100%;
}

.square-link a {
    font-size: 1.2em;
}

.square-link a:hover {
    opacity: 0.5;
}