@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  line-height: 1.4;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
  color: #252525;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

a {
  color: #b5d0d8;
  text-decoration: none;
}

a:hover {
  color: #7394a7;
}
